body {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  text-align: left;
}

.circulo {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

p {
  color: rgb(255, 255, 255);
}

.circulo>.imagem {
  width: 290px;
  height: 300px;
  border-radius: 100%;
  margin-left: 0%;
  margin-block-start: 5%;
}

body {
  background-image: linear-gradient(to bottom, rgb(56, 93, 194), rgb(56, 99, 219), rgb(80, 117, 219))
}

h1,
h2,
h3,
h4,
h5 {
  color: rgb(255, 255, 255);
}

.preto {
  color: rgb(0, 0, 0);
}

a {
  color: azure;
  font-style: italic;
}

a:hover {
  color: rgb(0, 223, 48);
}

h6 {
  font-size: 17px;
}